/*Color navbar*/
.custom-bg {
  background-color: #000000;
}

/*Color secundario*/
.secundary-bg {
  background-color: #ff0000e8  !important;
}

/*Color letra*/
.navbar-nav .nav-link{
  color: white !important;
}
.secundary-bg{
  color: white;
}
.navbar-brand {
  color: white !important;
}

